if SHIELD_CONNERBOARD_LEFT

config ZMK_KEYBOARD_NAME
    default "CONNERBOARD"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_CONNERBOARD_LEFT

if SHIELD_CONNERBOARD_LEFT || SHIELD_CONNERBOARD_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_CONNERBOARD_LEFT || SHIELD_CONNERBOARD_RIGHT
